#C/C++
sudo apt-get install build-essential
#python3
sudo apt install python3
sudo apt install python-is-python3 
sudo apt-get install libpython3-dev
sudo apt install python3-pip
#cmake
sudo apt-get install gpg wget
wget -O - https://apt.kitware.com/keys/kitware-archive-latest.asc 2>/dev/null | gpg --dearmor - | sudo tee /usr/share/keyrings/kitware-archive-keyring.gpg >/dev/null
echo 'deb [signed-by=/usr/share/keyrings/kitware-archive-keyring.gpg] https://apt.kitware.com/ubuntu/ focal main' | sudo tee /etc/apt/sources.list.d/kitware.list >/dev/null
sudo apt-get install kitware-archive-keyring
sudo apt update
sudo apt list --upgradable
sudo apt upgrade
cmake --version
#control-toolbox 
sudo apt-get install liblapack-dev 
git clone https://github.com/ethz-adrl/control-toolbox.git
cd control-toolbox/ct
chmod 775 build_ct.sh
./build_ct.sh -DCMAKE_BUILD_TYPE=Release -DBUILD_EXAMPLES=true
#blasfeo
cd blasfeo/
mkdir build 
cd build
cmake ..
make -j8
sudo make install
#cppad
#CppADCodeGen
sudo apt-get install libgtest-dev
sudo apt install clang lldb lld
sudo apt-get install valgrind
git clone https://github.com/joaoleal/CppADCodeGen.git CppADCodeGen
cd CppADCodeGen/
mkdir build
cmake ..
sudo make install
#hpipm
#kindr
#boost   
sudo apt-get install libboost-all-dev
#eigen   
sudo apt-get install libeigen3-dev 
#numpy
python -m pip install numpy




# add into control_toolbox/ct_models/CMakeLists.txt: 22
# 
# ## include blasfeo and hpipm, assumed to be installed in "/opt"
# list(APPEND CMAKE_PREFIX_PATH "/opt")
# find_package(blasfeo QUIET)
# find_package(hpipm QUIET)
# if(blasfeo_FOUND AND hpipm_FOUND)
#     message(STATUS "Found HPIPM and BLASFEO")
#     set(HPIPM ON)
#     list(APPEND HPIPM_LIBS hpipm blasfeo)
#     list(APPEND ct_optcon_COMPILE_DEFINITIONS HPIPM)
# else()
#     message(WARNING "Could not find HPIPM or BLASFEO")
# endif()
